# Fetch sales data from Fudo

Mediante la API de Fudo accedo a las bases transaccionales de ventas por producto, producto y categorías de producto.

Fudo es el software de gestión del restaurante.
Recibo las respuestas en formato JSON y las almaceno sin procesar como CSV en Google Drive.

In [1]:
import pandas as pd
import json
from fudo import get_access_token, fetch_sales_data, fetch_product_data, fetch_prod_categories_data
from gdrive import check_existing_file

In [2]:
access_token = get_access_token()

## Ventas

In [43]:
all_sales_data = fetch_sales_data(access_token, page_size=500, from_page=401, until_page=600)

sales_data = pd.json_normalize(all_sales_data) # Aplano el json

sales_data = pd.DataFrame(sales_data)

sales_data.to_csv("sales_data.csv", index=False)

sales_data

,type,id,attributes.canceled,attributes.cancellationComment,attributes.comment,attributes.createdAt,attributes.price,attributes.quantity,attributes.status,relationships.priceList.data,relationships.product.data.type,relationships.product.data.id,relationships.subitems.data,relationships.sale.data.type,relationships.sale.data.id,relationships.priceList.data.type,relationships.priceList.data.id
0,Item,200085,None,None,None,2023-01-15T16:35:56Z,2100.0,1.0,None,NaN,Product,343,[],Sale,58583,NaN,NaN
1,Item,200086,None,None,None,2023-01-15T16:35:56Z,2200.0,1.0,None,NaN,Product,345,[],Sale,58583,NaN,NaN
2,Item,200087,None,None,Con manteca,2023-01-15T16:35:56Z,1700.0,1.0,None,NaN,Product,94,[],Sale,58583,NaN,NaN
3,Item,200088,None,None,None,2023-01-15T16:35:56Z,700.0,1.0,None,NaN,Product,282,[],Sale,58583,NaN,NaN
4,Item,200089,None,None,None,2023-01-15T16:35:56Z,400.0,1.0,None,NaN,Product,13,[],Sale,58583,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98161,Item,298267,None,None,None,2024-07-21T22:47:25Z,7400.0,2.0,PENDING,NaN,Product,307,[],Sale,86307,NaN,NaN
98162,Item,298268,None,None,None,2024-07-21T22:47:25Z,4200.0,1.0,PENDING,NaN,Product,410,[],Sale,86307,NaN,NaN
98163,Item,298269,None,None,None,2024-07-21T23:04:50Z,2700.0,1.0,PENDING,NaN,Product,23,[],Sale,86308,NaN,NaN
98164,Item,298270,None,None,None,2024-07-21T23:04:50Z,2600.0,1.0,PENDING,NaN,Product,1,[],Sale,86308,NaN,NaN
98165,Item,298271,None,None,None,2024-07-21T23:04:50Z,15000.0,1.0,PENDING,NaN,Product,71,[],Sale,86308,NaN,NaN

In [44]:
# Check if raw_sales exists in Google Drive and append or upload accordingly
folder_id = '1uepuL5iCVYies7GrC1YOW9Fws3NxA-Ex'
existing_file_name = 'raw_sales.csv'
check_existing_file(folder_id, existing_file_name, sales_data, 'csv')

File 'c:\Users\Usuario\fudo-to-cloud\raw_sales.csv' updated on Google Drive.
New data has been appended to the existing file on Google Drive.
File 'c:\Users\Usuario\fudo-to-cloud\raw_sales.csv' deleted.

## Productos

In [45]:
data = fetch_product_data(access_token)

json_str = json.dumps(data['data'])

product_data = json.loads(json_str)

product_data = pd.json_normalize(product_data)

product_data = pd.DataFrame(product_data)

product_data

,type,id,attributes.active,attributes.code,attributes.description,attributes.enableOnlineMenu,attributes.enableQrMenu,attributes.favourite,attributes.imageUrl,attributes.name,...,attributes.price,attributes.sellAlone,attributes.stock,attributes.stockControl,relationships.kitchen.data.type,relationships.kitchen.data.id,relationships.productCategory.data.type,relationships.productCategory.data.id,relationships.productModifiersGroups.data,relationships.kitchen.data
0,Product,1,True,1105,None,None,None,True,None,Coca Cola,...,2600.0,None,NaN,False,Kitchen,1,ProductCategory,23,[],NaN
1,Product,2,True,700,None,None,None,None,None,Pizza muzzarella,...,13500.0,None,NaN,False,Kitchen,2,ProductCategory,10,[],NaN
2,Product,3,True,1,None,None,None,True,https://fudo-apps-storage.s3-sa-east-1.amazona...,Expresso,...,2000.0,None,NaN,False,Kitchen,1,ProductCategory,22,[],NaN
3,Product,4,True,2,None,None,None,True,https://fudo-apps-storage.s3-sa-east-1.amazona...,Americano,...,2100.0,None,NaN,False,Kitchen,1,ProductCategory,22,[],NaN
4,Product,5,True,104,None,None,None,False,https://drive.google.com/file/d/1UitzfUceKIUix...,Medialuna,...,1500.0,None,NaN,False,Kitchen,2,ProductCategory,14,[],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,Product,413,True,225,None,None,None,None,None,Porción de Lemon Pie,...,4200.0,True,2.0,True,Kitchen,2,ProductCategory,15,[],NaN
382,Product,414,True,819,None,None,None,None,None,Osobuco con polenta,...,9900.0,True,NaN,True,Kitchen,2,ProductCategory,21,[],NaN
383,Product,415,True,226,None,None,None,None,None,Tarta de manzana sin tacc,...,5000.0,True,NaN,False,Kitchen,2,ProductCategory,15,[],NaN
384,Product,416,True,227,None,None,None,None,None,Tarta cabsha sin tacc,...,5000.0,True,6.0,True,Kitchen,2,ProductCategory,15,[],NaN
385,Product,417,True,116,None,None,None,None,None,Porción de tostadas,...,3000.0,True,NaN,None,Kitchen,2,ProductCategory,14,"[{'type': 'ProductModifiersGroup', 'id': '36'}...",NaN

In [46]:
# Check if raw_products exists in Google Drive and append or upload accordingly
folder_id = '1uepuL5iCVYies7GrC1YOW9Fws3NxA-Ex'
existing_file_name = 'raw_products.csv'
check_existing_file(folder_id, existing_file_name, product_data, 'csv')

File 'raw_products.csv' uploaded as a new file on Google Drive.
Data has been uploaded as a new file on Google Drive.

## Categorías de productos

In [3]:
data = fetch_prod_categories_data(access_token)

json_str = json.dumps(data['data'])

categories_data = json.loads(json_str)

categories_data = pd.json_normalize(categories_data)

categories_data = pd.DataFrame(categories_data)

categories_data

,type,id,attributes.name,attributes.preparationTime,attributes.position,relationships.kitchen.data.type,relationships.kitchen.data.id,relationships.parentCategory.data,relationships.kitchen.data,relationships.parentCategory.data.type,relationships.parentCategory.data.id
0,ProductCategory,6,Cervezas,None,2000000,Kitchen,1,NaN,NaN,NaN,NaN
1,ProductCategory,7,Tragos con alcohol,None,1762500,Kitchen,1,NaN,NaN,NaN,NaN
2,ProductCategory,8,Sándwiches,None,625000,Kitchen,2,NaN,NaN,NaN,NaN
3,ProductCategory,9,Pastas,None,1450000,Kitchen,2,NaN,NaN,NaN,NaN
4,ProductCategory,10,Pizzas,None,1400000,Kitchen,2,NaN,NaN,NaN,NaN
5,ProductCategory,11,Ensaladas,None,1500000,Kitchen,2,NaN,NaN,NaN,NaN
6,ProductCategory,12,Tartas,None,1600000,Kitchen,2,NaN,NaN,NaN,NaN
7,ProductCategory,13,Minutas,None,1100000,Kitchen,2,NaN,NaN,NaN,NaN
8,ProductCategory,14,Desayunos y meriendas,None,150000,Kitchen,2,NaN,NaN,NaN,NaN
9,ProductCategory,15,Dulces y postres,None,175000,Kitchen,2,NaN,NaN,NaN,NaN
10,ProductCategory,16,Vinos,None,1825000,Kitchen,1,NaN,NaN,NaN,NaN
11,ProductCategory,17,Para picar,None,687500,Kitchen,2,NaN,NaN,NaN,NaN
12,ProductCategory,18,Whiskies y licores,None,2100000,Kitchen,1,NaN,NaN,NaN,NaN
13,ProductCategory,21,Platos especiales,None,750000,Kitchen,2,NaN,NaN,NaN,NaN
14,ProductCategory,22,Cafetería,None,100000,NaN,NaN,NaN,NaN,NaN,NaN
15,ProductCategory,23,Sin alcohol,None,1700000,Kitchen,1,NaN,NaN,NaN,NaN
16,ProductCategory,24,Adicionales,None,2112500,NaN,NaN,NaN,NaN,NaN,NaN
17,ProductCategory,25,Guarniciones,None,2225000,Kitchen,2,NaN,NaN,ProductCategory,13

In [6]:
# Check if raw_products exists in Google Drive and append or upload accordingly
folder_id = '1uepuL5iCVYies7GrC1YOW9Fws3NxA-Ex'
existing_file_name = 'product_categories.csv'
check_existing_file(folder_id, existing_file_name, categories_data, 'csv')

File 'product_categories.csv' uploaded as a new file on Google Drive.
Data has been uploaded as a new file on Google Drive.